*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pictures-container{
    width: 700px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 300px;
}

.items{
    display: none;
}

.prev-btn{
    border-radius: 50%;
}